
<div class="container">
<div class="row">
    <br>
</div>


<table class="table table-hover table-light">
  <!-- *ngIf = 'customerview && customerview.length'> -->
    <thead>
      <tr>
        <th scope="col"></th>
        
        <th scope="col">Welcome</th>
        <th scope="col"></th>
      </tr>
      <tr >
        <th>Name</th>
        <th>Emailid</th>
        <th>Mobileno</th>
      </tr>
    </thead>
    <!-- <tbody>
      <tr *ngFor='let CustomerDetails of customerview'>
        <td>{{ customerview.name }}</td>
                  <td>{{ customerview.emailid }}</td>
                  <td>{{ customerview.mobno }}</td>
       
      </tr>
     
    </tbody> -->
  </table>



</div>